<!DOCTYPE html>
<html>
  <head>
    <title>Our Programs - Song & A Dance</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../css/styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Comfortaa|Dancing+Script"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="logo-header">
      <h1>Song & A Dance</h1>
      <p id="subtitle">Professional Instruction in Fine Arts</p>
    </header>

    <nav class="nav">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="programs.html">Our Programs</a></li>
        <li><a href="schedule.html">Class Schedule</a></li>
        <li><a href="faculty.html">Meet Your Teacher</a></li>
        <li><a href="contact.html">Contact Us</a></li>
        <li><a href="tuition.html">Tuition</a></li>
        <li><a href="faq.html">FAQ</a></li>
      </ul>
    </nav>

    <!-- Give descriptions of all the types of instruction -->

    <footer>
      © 2018 Joseph Lionarons, Song & A Dance. All rights reserved.
    </footer>
  </body>
</html>
